
body {
  background-color: #f1f1f1;
  margin: 0;
  padding:0;
  height: 5000px;

  background: repeating-linear-gradient(
    180deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
}

.follower {
  display: inline-block;
  background: black;
  width:100px;
  height:100px;
  border-radius: 50px;
}
